<div class="card text-center">
  <div class="card-header">
    Post by User:
    {{username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{body}}</p>
    <a href="#" class="btn btn-primary">Add a comment</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>