<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Post Title</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
        <label for="exampleFormControlTextarea1">Post Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
      {{! TODO: Make ADD A POST event listener and function }}
    <button id="blog-post" type="submit" class="btn btn-primary">Post to blog!</button>
</form>

<div class ="posts">
    {{#each posts as |post|}}
    {{> post-details }}
    {{/each}}
</div>